version: '3.8'

services:
  # 1. API Gateway
  api-gateway:
    image: nginx:alpine
    container_name: api-gateway
    ports:
      - "8081:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth-service
      - acad-service
    networks:
      - microservices-network

  # 2. Auth Service
  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
      - PORT=3001
      - MONGO_URI=mongodb://auth-db:27017/auth
      - JWT_SECRET=rahasia123
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    depends_on:
      - auth-db
    networks:
      - microservices-network

  # 3. Auth Database
  auth-db:
    image: mongo:6.0
    container_name: auth-db
    restart: always
    volumes:
      - auth-data:/data/db
    networks:
      - microservices-network

  # 4. Acad Service
  acad-service:
    build: ./acad-service
    container_name: acad-service
    ports:
      - "3002:3002"
    environment:
      - DB_HOST=acad-db
      - DB_PORT=5432
      - DB_NAME=products
      - DB_USER=productuser
      - DB_PASSWORD=productpass
    depends_on:
      - acad-db
    networks:
      - microservices-network

  # 5. Acad Database
  acad-db:
    image: postgres:15-alpine
    container_name: acad-db
    environment:
      - POSTGRES_DB=products
      - POSTGRES_USER=productuser
      - POSTGRES_PASSWORD=productpass
    volumes:
      - ./acad-service/db_kelas.sql:/docker-entrypoint-initdb.d/init.sql
      - product-data:/var/lib/postgresql/data
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.0.0/28

volumes:
  auth-data:
  product-data: